@import '../../index.scss';

.Container {
	padding: 0 1rem;
	@include from(small) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	} 

	@include from(middle) {
		grid-template-columns: repeat(3,1fr);
	}
}